*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #010002

}
.cube 
{
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%      
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    50%
    {
        transform: rotateX(30deg) rotateY(360deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(720deg);
    }
}
.cube div 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(black,#160336,rgb(8, 3, 105),#070793,#5573de,#e6e6f7);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: rgb(13, 1, 41);
    transform: rotateX(90deg) translateZ(150px);
}
.top::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: rgb(23, 2, 107);
    transform: translateZ(-400px);
    filter: blur(60px);
    box-shadow: 0 0 120px rgb(112, 9, 215),
    0 0 200 rgb(43, 0, 255),
    0 0 300 rgb(75, 78, 232),
    0 0 400 rgb(136, 128, 246),
    0 0 500 rgb(231, 231, 251),
}
.top::after
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height:100px;
    color: white;
    transform: rotateX(90deg) translateZ(150px);
}